/* CSS Document */

.hidden {
  display: none!important;
}

@media (max-width: 700px) {
  .headline{
    font-size: 9vw!important;
    line-height: 90px!important;
  }
  .logo {
    transform: scale(0.5)!important;
  }
}

body {
    font-family: 'Titillium Web', Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: dimgray;
    background: #f3f3f3
}

label, legend {
  font-weight: 900;
}

.headline{
    font-size: 6vw;
    margin: auto;
    line-height: 175px;
    padding-top: 50px;
    text-align: center;
    align-content: center;
}

.logo{
    float: right;
    bottom: 0;
    right: 0;
    margin-top: -40px;
    transform: scale(0.7);
}

form, #menu, #back, #info-container, #modulelabel {
  width: 432px;
  margin: auto;
  padding: 5px;
  padding-bottom: 15px;
}

#info{
    height:auto;
    min-height: 40px;
    line-height: 40px;
    border:0 none;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
    text-align: center;
    cursor: default;
}

.box {
    border: 1px solid rgb(204,204,204);
}

.success {
    background-color: #99f47a;
}

.error {
    background-color: #f3353a;
}

#token{
  margin-bottom:22px;
  font-size: 2em;
  text-align: center;
}

input[type="submit"], button {
    font-size: 1.2em;
    width: 432px;
    padding: 5px;
    background:#ccc;
    border:0 none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

input:focus, textarea:focus, input:hover, textarea:hover button:hover {
  box-shadow:0 0  10px 0px grey;
}

input[type="submit"]:hover, button:hover {
  box-shadow:0 0  10px 0px grey;
  background-color:#aaa;
}

input, textarea {
  width:420px;
  padding: 5px;
	margin-left: auto;
	margin-right: auto;
  margin-top:5px;
  margin-bottom:20px;
  border:1px solid grey;
  transition: border 0.3s;
  transition: box-shadow 0.3s;
}

input[type="radio"] {
  width:auto;
  margin-right:8px;
  margin-bottom:5px;
}

label {
  display:block;
}

fieldset {
  border:0;
  margin:0;
  padding:0;
  margin-bottom:20px;
}

canvas {
  display:inline-block!important;
}
