{
    "ServerBindAddr": ":8443",

    "JWTPrivateRSAKey": "./keys/jwt.key",
    "JWTPublicRSAKey": "./keys/jwt.pub",

    "SSLCertificate": "./keys/tls.crt",
    "SSLKeyFile": "./keys/tls.key",

    "LDAPserver": "example.com",
    "LDAPPort": "123",

    "LDAPAdmin": "cn=root,dc=example,dc=com",
    "LDAPPass": "blutwurst1",

    "LDAPBaseDN": "dc=example,dc=com",
    "LDAPAdminFilter": "(&(objectClass=organizationalPerson)(memberOf=cn=admins,dc=example,dc=com))"
}
